* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}


.content-wrapper {
  height: calc(100vh - 48px);
  padding: 0 24px 24px;
  max-width: 1024px;
  margin: 24px auto;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 65px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 65px -1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 65px -1px rgba(0,0,0,0.1);
}
